@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

.main-logo {
  font-family: 'Borel';
  padding-top: 12px;
  color: white;
  user-select: none;
}

.main-greetings {
  font-family: 'Borel';
  user-select: none;
}