.product-image {
  max-width: 220px;
  max-height: 300px;
}

.product-text {
  transition: all .3s;
}

.product-list:hover .product-text {
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  .product-image {
    max-width: 330px;
    max-height: 450px;
  }

  .h-44rem {
    height: 44rem;
  }
}

/* .product-background {
  background-image: repeating-linear-gradient(45deg, red, red 10px, black 10px, black 20px),
                    repeating-linear-gradient(-45deg, transparent, transparent 10px, black 10px, black 20px);
  background-size: 35px 35px;
} */

