.product-image {
  max-width: 220px;
  max-height: 300px;
}

/* .product-background {
  background-image: repeating-linear-gradient(45deg, red, red 10px, black 10px, black 20px),
                    repeating-linear-gradient(-45deg, transparent, transparent 10px, black 10px, black 20px);
  background-size: 35px 35px;
} */

