@keyframes scrollLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 6px)); /* Adicione a largura das gaps entre os itens */
  }
}

.product-title {
  bottom: 22%;
  right: 25%;
}
.product-description {
  bottom: 0%;
  right: 25%;
}

