.product-image {
  max-width: 220px;
  max-height: 300px;
  transition: all .2s;
}

.product-background {
  transition: all .2s;
}

.product-background:hover {
  scale: 104%;
}

.product-background:hover .product-image {
  scale: 96%;
}

.product-text {
  transition: all .3s;
}

.product-list:hover .product-text {
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  .product-image {
    max-width: 330px;
    max-height: 450px;
  }

  .h-44rem {
    height: 44rem;
  }
}


